body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* background-color: white; */

}
h5{
    text-align: justify;
    /* text-align: center; */
}
p{
    text-align: justify;
    word-spacing: -0.1em;
}
#myname{
    color: white;
    text-shadow: 1px 1px 2px white,0 0 25px blue, 0 0 5px darkblue;
}
.S-word{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
img{
    opacity: .9;
}
    img:hover{
        opacity: 2.0;
    }
.navbar-toggler{
    background-color: white;
}
.head-main{
    background-color: rgba(0, 0, 0, 0.7); /* Heade background - transperancy */
}