body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* background-color: white; */

}
h5{
    text-align: justify;
    /* text-align: center; */
}
p{
    text-align: justify;
    word-spacing: -0.1em;
}
#myname{
    
  /* text-shadow: 10px 25px 4px rgba(198, 199, 195, 0.973) */
}
.S-word{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}